

.container-box {
    width: 1440px;
    height: 768px;
    flex-shrink: 0;
    background: #F5F6FD;
 margin-top: -59px;
    .container-box1 {
        width: 100%;

        h1 {
            width: 496px;
            height: 64px;
            color: var(--Text_Black, #000);
            text-align: center;
            font-family: DM Serif Display;
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px;
            margin: 60px 0px 0px 486px
        }

        p {
            width: 570px;
            height: 83px;
            flex-shrink: 0;
            color: var(--Text_Black, #000);
            text-align: center;
            font-family: DM Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            margin: 29px 435px 0px 435px;
        }
    }

    .container-box2 {
        display: flex;

        #B-box {
            width: 370px;
            height: 416px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #FFF;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
            margin: 36px 0px 80px 135px;

            img {
                margin: 64px 0px 0px 119px;
            }

            h4 {
                width: 162px;
                height: 32px;
                color: var(--Text_Black, #000);
                font-family: DM Serif Display;
                font-size: 24px;
                font-style: normal;
                font-weight: 550;
                line-height: 32px;
                margin: 54px 0px 0px 30px;
            }

            p {
                width: 306px;
                height: 48px;
                flex-shrink: 0;
                color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                font-family: DM Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 150% */
                margin: 15px 32px 0px 32px;
            }

            div {
                display: flex;

                h5 {
                    color: var(--Text_Black, #000);
                    font-family: DM Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    margin: 44px 0px 21px 32px;
                }

                svg {
                    margin-top: 51px;
                    margin-left: 7px;
                }
            }

        }

        #B-box1 {
            width: 370px;
            height: 416px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #FFF;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
            margin: 36px 0px 80px 30px;

            img {
                margin: 73px 100px 0px 84px;
            }

            h4 {
                width: 162px;
                height: 32px;
                color: var(--Text_Black, #000);
                font-family: DM Serif Display;
                font-size: 24px;
                font-style: normal;
                font-weight: 550;
                line-height: 32px;
                margin: 54px 0px 0px 30px;
            }

            p {
                width: 306px;
                height: 48px;
                flex-shrink: 0;
                color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                font-family: DM Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 150% */
                margin: 15px 32px 0px 32px;
            }

            div {
                display: flex;

                h5 {
                    color: var(--Text_Black, #000);
                    font-family: DM Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    margin: 44px 0px 21px 32px;
                }

                svg {
                    margin-top: 51px;
                    margin-left: 7px;
                }
            }


        }

        #B-box2 {

            width: 370px;
            height: 416px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #FFF;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
            margin: 36px 0px 80px 30px;

            img {
                margin: 58px 110px 0px 121px;
            }

            h4 {
                width: 175px;
                height: 32px;
                color: var(--Text_Black, #000);
                font-family: DM Serif Display;
                font-size: 24px;
                font-style: normal;
                font-weight: 550;
                line-height: 32px;
                /* 133.333% */
                margin: 48px 0px 0px 30px;

            }

            p {
                width: 306px;
                height: 48px;
                flex-shrink: 0;
                color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                font-family: DM Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin: 15px 32px 0px 32px;
            }

            div {
                display: flex;

                h5 {
                    color: var(--Text_Black, #000);
                    font-family: DM Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    margin: 44px 0px 21px 32px;
                }

                svg {
                    margin-top: 51px;
                    margin-left: 7px;
                }
            }

        }


    }
}


.container-box11 {
    width: 1440px;
    height: 768px;
    flex-shrink: 0;

    background: #F5F6FD;
    display: flex;


    #B-box3 {
        width: 740px;
        height: 653px;
        flex-shrink: 0;
        background: url(./img/clip-welcome.png);
        background-position: center;
        background-size: cover;

    }
   #B-balaji3{
    width: 700px;
    height: 653px;
    
    h5 {
        color: var(--Text_Black, #000);

        /* H5 */
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 4.8px;
        text-transform: uppercase;
       margin: 75px 0px 0px 20px;

    }
    h2 {
        width: 478px;
        height: 64px;
        color: var(--Text_Black, #000);
        font-family: DM Serif Display;
        font-size: 50px;
        font-style: normal;
        font-weight: 550;
        line-height: 64px;
        margin: 29px 0px 0px 20px;
    }

    p {
        width: 570px;
        height: 69px;
        flex-shrink: 0;
        color: var(--Text_Black, #000);


        font-family: DM Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin: 29px 0px 0px 20px;
    }
    #B-balaji2 {
        

        span {
            width: 216px;
            height: 24px;
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin-left: 15px;
            margin: 29px 0px 0px 20px;

        }

        img {
            width: 41px;
            height: 39px;
            flex-shrink: 0;
            margin-top: 10px;
            margin-left: 20px;
        }
    }
    #B-balaji {
        display: flex;
        margin: 57px 0px 0px 20px;
        gap: 30px;
    }

    #button1B {
        width: 170px;
        height: 48px;
        flex-shrink: 0;
        color: #FFF;
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 150% */
        border-radius: 5px;
        background: var(--Primary_1, #434CCC);
        border: none;


    }

    #button2B {
        width: 170px;
        height: 48px;
        flex-shrink: 0;
        color: #434CCC;
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 150% */



    }

   }


   }
   

   
   


   

@media all and (max-width:375px) {
    .container-box {
        width: 375px;
        height: auto;

        .container-box1 {


            h1 {
                width: 335px;
                height: 48px;



                font-size: 40px;


                line-height: 48px;
                margin: 42px 20px 31px 20px;
            }

            p {
                width: 346px;
                height: 101px;


                margin-left: 15px;
                margin-bottom: 50px;
            }
        }

        .container-box2 {
            display: flex;
            padding-right: 14px;
            flex-direction: column;

            #B-box {
                width: 346px;
                height: 416px;
                margin: 16px 0px 0px 14px;


                img {
                    margin: 64px 0px 0px 107px;
                }

                h4 {

                    font-weight: 400px;


                }

                p {
                    width: 282px;


                    margin: 15px 32px 0px 32px;
                }

                h5 {
                    width: 88px;
                    height: 24px;

                    // margin: 44px 0px 21px 32px;
                }

            }

            #B-box1 {
                width: 346px;

                margin: 16px 0px 0px 14px;

                img {
                    margin: 73px 88px 0px 72px;
                }

                h4 {
                    width: 158px;

                    font-weight: 400;

                    margin: 63px 0px 0px 30px;
                }

                p {
                    width: 282px;

                }

                h5 {
                    width: 88px;
                    height: 24px;

                }


            }

            #B-box2 {

                width: 346px;

                margin: 16px 0px 80px 15px;


                img {
                    margin: 58px 0px 0px 109px;
                }

                h4 {

                    font-weight: 400;


                }

                p {
                    width: 282px;


                }

                h5 {
                    height: 24px;
                    width: 88px;

                }

            }


        }
    }



    .container-box11 {
        width: 375px;
        height: auto;

        flex-direction: column;



        #B-box3 {
            width: 366px;
           height: 461px;
           margin-left: 25px;



        }

        #B-balaji3{
            width: 375px;
            height: auto;
            
            h5 {
                width: 127px;
                height: 24px;
               margin: 0px 243px 0px 14px;
        
            }
            h2 {
                width: 341px;
                height: 48px;
                font-size: 40px;
               font-weight: 400;
                line-height: 48px;
                margin: 19px 20px 0px 14px;
            }
            p {
                width: 346px;
                height: 128px;
                margin: 31px 15px 0px 14px;
            }

        
        }
        #B-balaji2 {
        

            span {
                
                
                margin: -20px 0px 5px 23px;
    
            }
    
            img {
                
                margin-top: 44px;
                margin-left:14px;
                
            }
        }



    }
    //   #B-balaji {
        
        
    // }

    #button1B {
       
        margin: 49px 0px 80px 0px ;

    }

    #button2B {
        margin-top: 49px;
        margin-left: -25px;
        /* 150% */



    }

   }

